.nodeWrapper {
  // position: absolute;
  position: relative;
  display: flex;
  // top: 100px;
  // overflow: hidden;
  // width: 60px;
}

.conetent{
  padding: 10px;
  border: 1px solid #888;
  background-color: #eee;
  border-radius: 4px;
  outline: none;
  resize: none;
  overflow: hidden;
  flex-grow: 0;
  width: 80px;
  height: 50px;
}

.addChildHandle{
  position: absolute;
  top: 0;
  left: 20px;
}

:global{
  body{
    position: relative;
  }
}